footer{
    background: #353535;
    .footer-inner{
        position: relative;
        a{
            margin-bottom: 20px;
        }
        p{
            color: #cdcdcd;
            font-size: 14px;
            font-weight: 500;
            font-family: "Raleway",sans-serif;
        }
        .footer-head{
            h2{
                color: #cdcdcd;
                font-size: 20px;
                font-weight: 500;
                font-family: 'Raleway',sans-serif;
                text-transform: uppercase;
            }
        }
        .footer-contact{
            p{
                i{
                    font-size: 16px;
                    margin: 5px 20px 5px 0;
                }
            }
        }
        .footer-links{
            a{
                display: block;
                margin-bottom: 10px;
                color: #cdcdcd;
                font-size: 14px;
                font-weight: 500;
                font-family: 'Raleway',sans-serif;
                &:hover{
                    margin-left: 20px;
                    color: #b44240;
                    transition: all linear 0.5s;
                    -webkit-transition: all linear 0.5s;
                    -moz-transition: all linear 0.5s;
                    -ms-transition: all linear 0.5s;
                    -o-transition: all linear 0.5s;
                }
            }
        }
        .social-links{
            h3{
                color: #cdcdcd;
                font-size: 20px;
                font-weight: 500;
                font-family: 'Raleway',sans-serif;
            }
            form{
                margin: 20px 0;
                input{
                    background: #353535;
                    color: #cdcdcd;
                }
                button{
                    background: transparent;
                    color: #cdcdcd;
                    font-size: 18px;
                    font-weight: 700;
                    font-family: "Raleway",sans-serif;
                    text-transform: uppercase;
                    border: 1px solid #cdcdcd;
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    -o-border-radius: 0;
                    &:hover{
                        background: #b44240;
                        border: 1px solid transparent;
                    }
                }
            }
            a{
                margin: 0 10px;
                height: 50px;
                width: 50px;
                border: 1px solid #cdcdcd;
                background-color: #cdcdcd;
                color: #353535;
                font-size: 20px;
                line-height: 50px;
                text-align: center;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                &:hover{
                    background: #b44240;
                    color: #cdcdcd;
                    border: 1px solid transparent;
                }
            }
        }
    }
}